.my-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.my-arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.my-arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.available-th {
  background-color: #57805c;
  width: 55px;
  height: 55px;
}

.reserved-th {
  background-color: #f57171;
  width: 55px;
  height: 55px;
}

.available-th:hover {
  background-color: #65ad7d !important;
  cursor: pointer;
}

th a {
  display: block;
  width: 100%;
  height: 100%;
}

.unavailable-th {
  background-color: #9db3a1;
  width: 55px;
  height: 55px;
}

.wrapper {
    overflow-x: auto;
    width: 100%;
    max-width: 900px;
}

.wrapper table { white-space: nowrap }