{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head %}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHmd_dI3EZ7JwL6xSHYGJnsFMZe5zBYW4&libraries=places&language=en">
    </script>
{% endblock %}
{% block subheader_title %}
    <h5>Create a Club</h5>
{% endblock %}
{% block content %}
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
            {% crispy form %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        var input = document.getElementById('id_address');
        var autocomplete = new google.maps.places.Autocomplete(input);
    </script>
{% endblock %}